
.message-form{
    display: flex;
    padding: 1rem;
    border-top: 1px solid #e0e0e0;
    background: #f7f7f7;
}

.message-input{
    flex-grow:1;
    border: 1px solid #ccc;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    background-color: #fff;
}

.message-input:focus{
    outline: none;
    border-color: #007bff;
}


.send-button{
    border: none;
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.send-button:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}